.logo-container{
text-decoration:none;
}

.logo{
line-height:1.1;
}

.logo-main{
display:block;
font-size:30px;
font-weight:500;
letter-spacing:3px;      /* letters ke beech space */
transform:scaleX(1.15);  /* horizontal expand */
transform-origin:left;
color:white;
font-family:"Helvetica Neue", Arial, sans-serif;
}

.logo-sub{
display:block;
font-size:26px;
font-weight:300;
letter-spacing:4px;   /* horizontal spacing */
color:white;
transform:scaleX(1.1); /* horizontal expand */
transform-origin:left;
}

.logo-tag{
display:block;
font-size:12px;
letter-spacing:2px;
margin-top:6px;
color:#e6dede;
}

.site-footer{
background:#000;
color:#fff;
padding:50px 40px 20px;
}

.footer-container{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
align-items:center;
}

.footer-left{
text-align:left;
}

.footer-links{
display:flex;
justify-content:center;
align-items:center;
gap:25px;
flex-wrap:nowrap;   /* links ko niche jane se rokega */
}

.footer-links a{
text-decoration:none;
color:#b46a6a;
font-size:18px;
font-weight:500;
white-space:nowrap;  /* text break nahi hoga */
}

.footer-contact{
text-align:right;
}



.footer-links a:hover{
color:#fff;
}

.footer-links a:hover{
color:#fff;
}

.footer-bottom{
text-align:center;
margin-top:30px;
font-size:14px;
color:#ccc;
}